:root {
    --colors__hot-pink: rgb(255, 3, 163); 
    --colors__light-pink: rgb(250, 197, 242);
    --colors__light-purple: rgb(228, 211, 255);
    --colors__dark-purple: rgb(83, 0, 147);
    --colors__bright-purple: rgb(93, 24, 243);
    --colors__background: rgb(241, 234, 237);
    --colors__bright-blue: rgb(0, 16, 236);
    --colors__background-blue: #003369;
    --colors__dark-blue: rgb(17, 12, 55);
    --colors__navy-blue: rgb(0, 29, 71);
    --colors__alert-red: rgb(255, 35, 35);
    --colors__black: rgb(0, 0, 0);
    --colors__white: rgb(255, 255, 255);
    --colors__light-gray: rgb(196, 195, 195);
}