.main {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  font-family: 'Press Start 2P', monospace;

}

.title {
  font-size: 36px;

}

.books-container,
.pinnedSection {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
