.main {
  //   max-width: 1200px;
  margin: 0;
  padding: 2rem;
  font-family: "Press Start 2P", monospace;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 2rem;
}

.sideBar {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.stats, .bookContainer {
    border: 1px solid rgb(255, 0, 166);
    background: rgb(252, 236, 246);
    border-radius: 0.5rem;
    padding: 1rem;
}

.mainSection {
  width: 70%;
}

.mainTitle {
  font-size: 36px;
  text-align: center;
}

.title {
  font-size: 24px;
}

.books-container,
.pinnedSection {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
